@model List<CompanyRepresentative>




<div class="container p-3">

    <div class="row pt-4">

        <div class="col-10">
            <h2 class="text-primary">Company Representatives</h2>

        </div>
        <a asp-controller="CompanyRepresentative" asp-action="Upsert" class="btn btn-success">Add representative</a>

    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-striped table-bordered " style="width:100%">
            <thead class="badge-secondary">
                <tr>
                    <th>
                        ID
                    </th>
                   
                    <th>
                        Full Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Edit
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var companyRepresentatives in Model)
                {
                    <tr>
                        <td width="3%">@companyRepresentatives.ID</td>
                        <td width="17%">@companyRepresentatives.FullName</td>
                        <td width="20%">@companyRepresentatives.Email</td>
                        <td width="20%">@companyRepresentatives.PhoneNumber</td>
                        <td width="20%">@companyRepresentatives.Salary</td>
                        <td width="30%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="CompanyRepresentative" asp-action="Upsert" asp-route-companyRepresentativeId="@companyRepresentatives.ID" class="btn btn-primary mx-1 ">Update</a>
                                @* <a asp-controller="CompanyRepresentative" asp-action="Delete" asp-route-companyRepresentativeId="@companyRepresentatives.ID" class="btn btn-danger mx-1 ">Delete</a>*@

                                <form asp-action="Delete" asp-route-companyRepresentativeId="@companyRepresentatives.ID">
                                    <button type="submit" class="btn btn-danger mx-1 "> Delete</button>
                                </form>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

    else
    {
        <p> No new clients registered</p>
    }

</div>